.slider_anim {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    gap:1%;
     
}
.slider_anim_box {
    width: calc( 212px + (100vw /1400));
    height: 22vw;
    background: var(--color10);
    border-radius: calc(25px + (100vw / 1400));
    flex: 1;
    padding: 1.5%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .6s linear;
    -webkit-transition: all .6s linear;
    -moz-transition: all .6s linear;
    -ms-transition: all .6s linear;
    -o-transition: all .6s linear;
    -webkit-border-radius: calc(25px + (100vw / 1400));
    -moz-border-radius: calc(25px + (100vw / 1400));
    -ms-border-radius: calc(25px + (100vw / 1400));
    -o-border-radius: calc(25px + (100vw / 1400));
}
 .slider_anim_title {
    font-weight: 500;
    line-height: 110%;
    font-size: 100%;
    text-transform:capitalize;
    margin-bottom: 165%;
      
     
} 
.slider_active {
    flex:5;
    width: 100%; 
    padding: 3.5% 1.5%;    
    /* height: calc(347px + (100vw / 1400)); */
}
/* .slider_anim_box.slider_active >  .slider_anim_box{
    
} */

.slider_anim_box > .slider_anim_title {
    display: block;
    animation: .6s linear rise;
    -webkit-animation: .6s linear rise;
}
.slider_anim_box.slider_active > .slider_anim_title { 
    display: none;
    
}
.slider_anim_box > .slider_anim_title_big {        
    display: none;
}
.slider_anim_box.slider_active > .slider_anim_title_big {
    display: block;
    animation: 1s linear rise;
    -webkit-animation: 1s linear rise;
    opacity: 1;
    color: var(--color1);
}
.slider_anim_img {
    /* transition: all .8s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    -webkit-transition: all .8s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    -moz-transition: all .8s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    -ms-transition: all .8s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    -o-transition: all .8s cubic-bezier(0.61,-0.19, 0.7,-0.11); */
}
.slider_anim_box > .slider_anim_img {
    animation: 1s linear rise;
    -webkit-animation: 1s linear rise;
    display: block;
    opacity: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    /*transition: all .8s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    -webkit-transition: all .8s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    -moz-transition: all .8s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    -ms-transition: all .8s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    -o-transition: all .8s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    */
}
.slider_anim_box.slider_active > .slider_anim_img {
    display: none;
    opacity: 0;
     
} 

.slider_anim_text {
    animation: 1s linear rise;
    -webkit-animation: 1s linear rise;
    margin-bottom: 14%;
}
@keyframes rise {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.slider_anim_box > .slider_anim_text {
    display: none;
    opacity: 0;
}
.slider_anim_box.slider_active > .slider_anim_text {
    display: block;
    animation: 1s linear rise;
    -webkit-animation: 1s linear rise;
    opacity: 1;
} 
.slider_anim_cont {
    /* transition: all .8s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    -webkit-transition: all .8s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    -moz-transition: all .8s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    -ms-transition: all .8s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    -o-transition: all .8s cubic-bezier(0.61,-0.19, 0.7,-0.11); */
}
.slider_anim_box > .slider_anim_cont {
    display: none;
    opacity: 0;
}
.slider_anim_box.slider_active > .slider_anim_cont {
    animation: 1s linear rise;
    -webkit-animation: 1s linear rise;
    display: block;
    opacity: 1;
    gap: 1%;
    margin: 1% 0 3%;
} 
.slider_anim_button {
    padding: 1.2% 2.2%;
    cursor: pointer;
    border: none;
    background-color: var(--color5);
    color: var(--color1);
    border-radius: calc(27px + (100vw / 1400));
    -webkit-border-radius: calc(27px + (100vw / 1400));
    -moz-border-radius: calc(27px + (100vw / 1400));
    -ms-border-radius: calc(27px + (100vw / 1400));
    -o-border-radius: calc(27px + (100vw / 1400));
}