.teachers_photo {
    margin: 0 auto 14.5%;
    display: flex;    
    padding-left: 2.85%;
    padding-right: 2.85%;
    max-width: 100%; 
    gap: 1%;
    
}
.teachers_photo_box {
    flex: 1;
}
.teachers_photo_cont {
    background-color: var(--color10);
    border-radius: calc(25px + (100vw / 1400));
    -webkit-border-radius: calc(25px + (100vw / 1400));
    -moz-border-radius: calc(25px + (100vw / 1400));
    -ms-border-radius: calc(25px + (100vw / 1400));
    -o-border-radius: calc(25px + (100vw / 1400));
    position: relative;
    height: 27.1vw;
}
.teachers_photo_title {
    margin-top: 5%;
}
.teachers_photo_text {
    margin-top: 1%;
    margin-bottom: 3%;
}
.teachers_photo_btn {
    background-color: var(--color10);
    border-radius: calc(25px + (100vw / 1400));
    -webkit-border-radius: calc(25px + (100vw / 1400));
    -moz-border-radius: calc(25px + (100vw / 1400));
    -ms-border-radius: calc(25px + (100vw / 1400));
    -o-border-radius: calc(25px + (100vw / 1400));
    padding: 1.7% 2.7%;
}
.teachers_photo_img {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.teachers_photo_btn span {
    color: var(--color1);
}