.feedback {
    margin: 0 auto 3.75%;
    display: flex;    
    padding-left: 2.85%;
    padding-right: 2.85%;
    max-width: 100%; 
}
.feedback_slider {
    margin: 0 auto 14.5%;
    display: flex;    
     padding: 0;
    max-width: 100%;
    overflow: hidden;
}
/* .feedback_slider_cont {
    list-style-type: none;
    display: flex;
    gap: 1%;
} */
.feedback_slider_box {
    list-style-type: none;
    display: flex;
    gap: 1%; 
}
.feedback_slider_card {
    background: var(--color10);
    border-radius: calc(25px + (100vw / 1400));
    -webkit-border-radius: calc(25px + (100vw / 1400));
    -moz-border-radius: calc(25px + (100vw / 1400));
    -ms-border-radius: calc(25px + (100vw / 1400));
    -o-border-radius: calc(25px + (100vw / 1400));
    padding: 2.2% 1.5% 1.5%;
    width:  30%;
}
.feedback_slider_title {
    color: var(--color1);
}
.feedback_slider_btn {
    margin: 3% 0 2%;
    padding: 2% 3%;
    background-color: var(--color5);
    border-radius: calc(25px + (100vw / 1400));
    -webkit-border-radius: calc(25px + (100vw / 1400));
    -moz-border-radius: calc(25px + (100vw / 1400));
    -ms-border-radius: calc(25px + (100vw / 1400));
    -o-border-radius: calc(25px + (100vw / 1400));
}
.feedback_slider_text {
    margin-bottom: 10%;
}
.feedback_slider_btns {
    display: flex;
    gap: 1%;
}
.feedback_slider_btns .feedback_slider_btn span{
    color: var(--color1);
}