.slider {
        overflow-x: hidden; 
        margin: 0 auto;
        display: flex;        
       
        
}
/*  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
  }  */
.slider_box {
    width: 100%;
    display: flex;    
    gap: 20px;    
    /* flex-wrap: nowrap;
    overflow-x: auto;  */

}
/* .slider_box::-webkit-scrollbar {
    -webkit-overflow-scrolling: touch;
    display: none; 
      
    } */
.slider_card {
    width: 50%;
    height: 100%;
    background-color: var(--color2);
    border-radius: 2%;
    padding: 2%;
    position: relative;
    
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}
.slider_title {
    font-weight: 600;
    color: var(--color8);
}
.slider_box {
    display: flex;
    margin: 1% 0 2%;
    gap: 1%;
    box-sizing: border-box;
}
.slider_button {
    background: var(--color5);
    border-radius:calc(19px + (100vw / 1400));
    height: 2%;
    padding: 1% 4%;
    color: var(--color1);
    box-sizing: border-box;
    -webkit-border-radius:calc(19px + (100vw / 1400));
    -moz-border-radius:calc(19px + (100vw / 1400));
    -ms-border-radius:calc(19px + (100vw / 1400));
    -o-border-radius:calc(19px + (100vw / 1400));
}
.slider_text {
     width: 50%; 
     
}
.slider_img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
}
.slider_img_second {
    width: 50%;
}
.slider_img_three {
    width: 35%;
}
.slider_card:nth-child(3n) {
    background-color: var(--color3);
    
}
.slider_card:nth-child(3n) .slider_title {
    color: var(--color1);
}
.slider_card:nth-child(3n - 1) {
    background-color: var(--color1);
}
.slider_card:nth-child(3n - 1) .slider_title  {
    color: var(--color5);
}
.slider_card:nth-child(3n - 1)  .slider_text {
    color: var(--color5);
}
